.scrib-authority-box,
.scrib-authority-box .scrib-authority-box-entry {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.scrib-authority-box-clearfix {
	clear: both;
}

#scrib-authority-primary_tax {
	width: 200px;
}

.scrib-authority-box {
	background: #fff;
	color: #333;
	border: 1px solid #dfdfdf;
	display: block;
	padding: 5px;
	position: relative;
	zoom: 1;
	*display: inline;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.scrib-authority-box .scrib-authority-box-entry {
	border: 0;
	outline: 0px;
	padding: 7px 10px 0px;
	width: 400px;
}

.scrib-authority-box .scrib-authority-box-entry-container {
	display: inline-block;
	position: relative;
}

.scrib-authority-box .scrib-authority-box-items {
	float: left;
	list-style-type: none;
	margin: 3px;
	padding: 0;
}

.scrib-authority-box .scrib-authority-box-item {
	background: #f5f5f5;
	border: 1px solid #ccc;
	display: inline-block;
	float: left;
	margin: 0 5px 5px 0;
  overflow: hidden;
	padding: 0;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

  -webkit-box-shadow: 0 1px 4px rgba(50,50,50,.1);
  -moz-box-shadow   : 0 1px 4px rgba(50,50,50,.1);
  -o-box-shadow     : 0 1px 4px rgba(50,50,50,.1);
  box-shadow        : 0 1px 4px rgba(50,50,50,.1);
}

.scrib-authority-box .scrib-authority-box-item.focus,
.scrib-authority-box .scrib-authority-box-item:hover .taxonomy,
.scrib-authority-box .scrib-authority-box-item:hover .term,
.scrib-authority-box .scrib-authority-box-item:hover .close,
.scrib-authority-box .scrib-authority-box-item:hover {
	border-color: #bbb;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.scrib-authority-box .taxonomy,
.scrib-authority-box .term,
.scrib-authority-box .close {
	display: inline-block;
	padding: 5px 10px;

	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-o-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}

.scrib-authority-box .taxonomy {
	border-right: 1px solid #ccc;
	color: #999;
	cursor: pointer;
}

.scrib-authority-box .scrib-authority-box-results .taxonomy {
	float: right;
	border-left: 1px dotted #eee;
	border-right: none;
}

.scrib-authority-box .term {
}

.scrib-authority-box .close {
	border-left: 1px solid #ccc;
	color: #999;
	cursor: pointer;
	text-align: center;
}

.scrib-authority-box .taxonomy:hover,
.scrib-authority-box .close:hover {
	background-color: #eee;
	color: #333;
}

.scrib-authority-box .scrib-authority-box-results {
	background: #fff;
	border: 1px solid #ccc;
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	left: 5px;
	width: 100%;
	z-index: 1000;

  -webkit-box-shadow: 0 1px 4px rgba(50,50,50,.1);
  -moz-box-shadow   : 0 1px 4px rgba(50,50,50,.1);
  -o-box-shadow     : 0 1px 4px rgba(50,50,50,.1);
  box-shadow        : 0 1px 4px rgba(50,50,50,.1);
}

.scrib-authority-box .scrib-authority-box-results.show {
	display: block;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-result-category {
	max-height: 250px;
	overflow: auto;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-result-category,
.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-no-results,
.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item {
	background: #fff;
	border: 0;
	display: block;
	float: none;
	list-style-type: none;
	margin: 0;
	padding: 3px;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-no-results {
	color: #999;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-result-category {
	background: #f5f5f5;
	color: #555;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-result-category h4 {
	margin: 0;
	padding: 3px 0;
}

.scrib-authority-box .scrib-authority-box-results .close {
	display: none;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item.focus,
.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item:hover .taxonomy,
.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item:hover .term,
.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item:hover .close,
.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item:hover {
	color: #fff;
	font-family: inherit;
	font-size: inherit;

	-webkit-text-shadow: 0 -1px  #0789c1;
	-moz-text-shadow: 0 -1px 0 #0789c1;
	-o-text-shadow: 0 -1px 0 #0789c1;
	text-shadow: 0 -1px 0 #0789c1;

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item.focus .taxonomy,
.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item:hover .taxonomy {
	color: #d1f1ff;
	border-color: #0789c1;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item.focus,
.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item:hover {
	background: #0d9fe2;
}

.scrib-authority-box .scrib-authority-box-results .scrib-authority-box-item .taxonomy:hover {
	background: inherit;
}
